<html xmlns:th="http://www.thymeleaf.org">
<body>

	<div th:if="${message}">
		<h2 th:text="${message}"/>
	</div>

	<div>
		<form method="POST" enctype="multipart/form-data" action="/">
			<table>
				<tr><td>File to upload:</td><td><input type="file" name="file" /></td></tr>
				<tr><td></td><td><input type="submit" value="Upload" /></td></tr>
			</table>
		</form>
	</div>

	<div>
		<ul>
			<li th:each="file : ${files}">
				<p><a th:href="${file}" th:text="${file}" /><br/></p>	
				<p><a th:href="${link}" th:text="${link}" /><br/></p>
			</li>
<!-- 			<li th:each="link : ${list}"> --> -->
<!-- 				<p><a th:href="${link}" th:text="${link}" /><br/></p>	 -->
<!-- 		</li>  -->
		</ul>
	</div>
	

</body>
</html>
